{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}Offer Confirmation{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-md-10 col-lg-8 offset-md-1 ">
			<h1>Offer Confirmation</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-10 offset-lg-1">
			{% if create %}
			<p>You are going to make the following offer:</p>
			<p>{{ show }}</p>
			<p>{{ slot }}</p>
			{% else %}
			{% if user_is_director %}
				<p><strong>You are authorised to accept this offer on behalf of the company. Typically this is something the company should do, so please exercise discretion.</strong></p>
			{% endif %}
			<p>You have been offered the following:</p>
			<p>{{ offer.slot }}</p>
			<p>for the production of {{ offer.show }} at {{ offer.show.event }}</p>
			{% endif %}
			<form method="post" action="">
				{% csrf_token %}
				{% if create %}
					<div class="d-none">{{ form.as_p }}</div>
				{% else %}
					{% for field in form %}
						<div class="row form-group mb-2">
							<div class="col-12 mx-auto">
								<div class="text-left text-primary">Accept or reject using the menu below</div>
								{% if field.errors %}<div class="alert alert-danger">{{ field.errors.as_ul }}</div>{% endif %}
								{{ field.help_text }}
								{% render_field field class+="form-control" placeholder+=field.label %}
							</div>
						</div>
					{% endfor %}
				{% endif %}

				<div class="row my-2">
					<div class="col-12 col-sm-10 col-lg-8 mx-auto">
					<button type="submit" value="login" class="btn btn-success btn-lg w-100">
						{% if create %}Make the offer{% else %}Save{% endif %}</button>
					<input type="hidden" name="next" value="{{ next }}" />
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}